body{
  font: bold 11px arial;
}

@font-face {
    font-family: Springville;
    font-weight: 100;
    src: url('../Assets/fonts/Springville-Regular3.otf') format("opentype");
}

$spring: Springville;

$navHeight: 150px;

.nav {
  background-color: white;
  z-index: 1;
  top: 0;
  width: 100%;
  height: $navHeight;
  position: fixed;  
  max-width: 1440px;
  img {
    vertical-align: middle;
    display:inline;
    max-width:50%;
    max-height:50%;
  }

  .navInfo {
    margin: 0 10px;
  }
}

.info {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.sliderWrapper {
  margin: $navHeight auto 0px;
}

.grid {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  font-weight: 100;

  .gridItem {
    // flex-grow: 1;
    width: 30%;
    margin: 5px 10px;
    img {
      max-width: 100%
    }
  }

  .date {
    margin-top: 10px 0px;
    font-size: 11px;
  }

  .title {
    font-size: 48px;
  }

  .author {
    font-size: 14px;
  }

  .date, .title, .author {
    font-family: $spring;
  }
}

.author {
  font-size: 14px;
}

.footer {
  margin-top: 100px;
  text-align: center;
}

$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px) !default;

// @include media(">phone", "<tablet") {

// }